.cards3d {
    perspective: 500px;
    display: flex;
    justify-content: center;
}

.card3d {
    width: 200px;
    height: 250px;
    background: url('/public/images/img-4.jpg') center no-repeat;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.5s;
}

.card3d:hover {
    transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
}

.card3d-title {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.5s;
    text-shadow: 2px 3px 3px #000;
}

.card3d:hover .card3d-title {
    transform: translateZ(50px);
}